* {
    margin: 0px;
    padding: 0px;
}

.ubuntu {
    font-family: 'Ubuntu', serif;
}

#logo {
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    height: 220.34px;
    width: 253.50px;
}

#header {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
}

#menu {
    margin-top: 100px;
    margin-left: 150px;
    font-size: 20px;
}

#footer {
    height: 200px;
}

#logofooter {
    width: 99px;
    height: 77px;
    margin-top: 60px;
    float: right;
    margin-right: 50px;
}

#linkedin {
    width: 99px;
    height: 99px;
    margin-top: 60px;
    margin-left: 120px;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: 100%;
}

.nav-link {
    color: #d0ecff;
    margin-right: 100px;
    border-bottom: 1px solid white;
}

.nav-link:hover {
    color: rgb(255, 251, 0);
}

html {
    height: 100%;
}